.footer {
    background-color: #181818;
    color: white;
    padding: 2rem 0; /* py-8 */
  }
  
  .footer-container {
    max-width: 1200px; /* container */
    margin: 0 auto; /* mx-auto */
    display: flex; /* flex */
    flex-direction: column; /* flex-col */
    justify-content: space-between; /* justify-between */
    align-items: center; /* items-center */
  }
  
  @media (min-width: 768px) {
    .footer-container {
      flex-direction: row; /* md:flex-row */
       }
  }
  
  .footer-follow {
    margin-bottom: 1rem; /* mb-4 */
  }
  
  @media (min-width: 768px) {
    .footer-follow {
      margin-bottom: 0; /* md:mb-0 */
    }
  }
  
  .footer-title {
    margin-bottom: 1rem; /* mb-4 */
    font-size: 1.125rem; /* text-lg */
    font-weight: 600; /* font-semibold */
    background: linear-gradient(to right, #9d4edd, #f72585); /* bg-gradient-to-r from-purple-400 to-pink-600 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  
  .footer-list {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-list-item {
    margin-bottom: 0.5rem; /* mb-2 */
  }
  
  .footer-list-link {
    color: white; /* text-white */
    text-decoration: none;
  }
  
  .footer-list-link:hover {
    text-decoration: underline; /* hover:underline */
  }
  
  .footer-credits {
    grid-column: span 7; /* col-span-7 */
    place-self: center;
    text-align: center;
  }
  
  @media (min-width: 640px) {
    .footer-credits {
      text-align: left; /* sm:text-left */
    }
  }
  
  .footer-credits-title {
    margin-bottom: 1rem; /* mb-4 */
    margin-top: 1rem; /* mt-3 */
    font-size: 3rem; /* text-5xl */
    font-weight: bold; /* font-bold */
    background: linear-gradient(to right, #9d4edd, #f72585); /* bg-gradient-to-r from-purple-400 to-pink-600 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  
  @media (min-width: 640px) {
    .footer-credits-title {
      font-size: 2.25rem; /* sm:lg:text-4xl */
    }
  }
  
  @media (min-width: 1024px) {
    .footer-credits-title {
      font-size: 1.5rem; /* lg:text-2xl */
    }
  }
  